{% extends "base.html" %}

{% block content %}
<article>
  <h1>{{ config.title }}</h1>
  <section>
    {{ section.content | safe }}
    <hr>
    <nav class="links">
      <a href="/blog/">blog</a>
      <a href="https://abzrgzdh.github.io/assets/cv.pdf" target="_blank">résumé</a>
      <a href="https://linkedin.com/in/abzrgzdh" target="_blank">linkedin</a>
      <a href="https://github.com/abzrgzdh" target="_blank">github</a>
      <a href="https://scholar.google.com/citations?user=itt9zx8AAAAJ&hl=en" target="_blank">publications</a>
      <a href="mailto:abzrgzdh@gmail.com" target="_blank">email</a>
    </nav>
  </section>
</article>
{% endblock content %}
